In [1]:
emp = {"emp_Name": "Noman", "age": 20, "gender": "Male", "salary": 30000}

In [2]:
emp

{'emp_Name': 'Noman', 'age': 20, 'gender': 'Male', 'salary': 30000}

In [3]:
emp.pop("emp_Name")

'Noman'

In [4]:
emp

{'age': 20, 'gender': 'Male', 'salary': 30000}

In [5]:
emp1 = { "age": 22, "gender": "Male", "salary": 30000}

In [6]:
emp.update(emp1)

In [7]:
emp

{'age': 22, 'gender': 'Male', 'salary': 30000}

In [8]:
print(emp, end="")
print(emp1)

{'age': 22, 'gender': 'Male', 'salary': 30000}{'age': 22, 'gender': 'Male', 'salary': 30000}