# 1 Indexing

## First One

employee_data = ['Ali', 125000, 'Google', 5]
message = employee_data[0] + " " + "is working in" + employee_data[2] + " " + str(employee_data[3]) + " " + "years and his salary is" + " "+ str(employee_data[1])

In [2]:
print(message)

Ali is working inGoogle 5 years and his salary is 125000

## Second One

studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']
display = '''Hello {first} {last},
Your application is accepted for admission in {degree} {subject} in {uni}.
You have to submit fee {fee} before {validDate}.
Your classes will start from {classDate}.
Thanks'''
afterFormation = display.format(first = studentData[0], last = studentData[1] , degree = studentData[4],  subject = studentData[3],  uni = studentData[2],  validDate = studentData[6] ,  classDate = studentData[7], fee = studentData[5]  )

In [ ]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']

In [ ]:
msg = "Hello " + studentData[0] + " " + studentData[1]+", " +"\n" + "Your application is accepted for admission in" + studentData[4] + " " + studentData[3] + "in" + studentData[3]  +"You have to submit fee" + str(studentData[5]) + " "+ "before " + str(studentData[6]) + " Your classes will start from " + str(studentData[7]) +"\n" +"Thanks"

In [5]:
print(msg)

Hello Ahmed Bilal,
Your application is accepted for admission inBS Computer ScienceinComputer ScienceYou have to submit fee50000 before 28 Januray 2020 Your classes will start from 05 February 2020
Thanks

# 2- Slicing

In [6]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

## Positive Slicing

In [7]:
A1 = cities[0:4]
A2 = cities[2: 6]
A3 = cities[5:]

In [8]:
print(A1)
print(A2)
print(A3)

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

## Negative Slicing

In [9]:
c1 = cities[-4:7]
c2 = cities[-5: ]

In [10]:
print(c1)
print(c2)

['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3- Update Lists

In [11]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [12]:
# Append method
studentData.append('20 February 2019')
studentData.append(8)

In [13]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [14]:
## insert method
studentData.insert(4, 25000)
studentData.insert(1,'M. Iqbal')

In [15]:
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [16]:
## replacing
studentData[0] = 'Zohaib Ali'
studentData[6] = 7

In [17]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [18]:
## remove method
studentData.remove('Computer Science')
studentData.remove(91.24)

In [19]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [20]:
## pop method
studentData.pop()

8

In [21]:
studentData.pop(3)

25000

In [22]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# 4- Multidimensional list tasks

In [23]:
## data
employeeData = [["Ali", 35000, "Software Engineer"],
               ["Talha", 55000, "Product Manager"],
               ["Nasir", 79000, "Computer Engineer"],
               ["Khalid", 44000, "DBA"]]

In [24]:
## for loop
### tasks1
#### point 1
for i in employeeData:
    salary = i[1]
    if salary > 50000:
            print(i[0])

Talha
Nasir

In [25]:
#### point 2 
totalSalary = 0
for i in employeeData:
    salary = i[1]
    totalSalary += salary

In [26]:
print(totalSalary)

213000

In [27]:
## tasks2 (   List update  )
for i in employeeData:
    if i[0] == 'Nasir':
        i[1] = 90000
        i[2] = "Product Manager"
        
    elif i[0] == "Khalid":
        i[1] = 50000

In [28]:
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Manager'], ['Khalid', 50000, 'DBA']]

# 5- Login User

In [29]:
## Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [30]:
if username == 'faizan1214':
    if password == 'qwerty':
        if emailVerified == True:
            print("Login Succeed")
        else:
            print("Email not verified")
    else:
        print("Incorrect Login details")
else:
    print("Incorrect Login details")

Email not verified

In [31]:
# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [32]:
if username == 'faizan1214':
    if password == 'qwerty':
        if emailVerified == True:
            print("Login Succeed")
        else:
            print("Email not verified")
    else:
        print("Incorrect Login details")
else:
    print("Incorrect Login details")

Login Succeed