In [1]:
emp1 = ["Noman", 20, "Male", 30000]

In [2]:
emp1

['Noman', 20, 'Male', 30000]

In [3]:
emp1 = [["emp_Name", "age", "gender", "Salary"],
        ["Noman", 20, "Male", 30000]
       ]

In [4]:
emp1

[['emp_Name', 'age', 'gender', 'Salary'], ['Noman', 20, 'Male', 30000]]

Dictionary is a key value pair

In [5]:
emp = {"emp_Name": "Noman", "age": 20, "gender": "Male", "salary": 30000}

In [6]:
emp

{'emp_Name': 'Noman', 'age': 20, 'gender': 'Male', 'salary': 30000}

In [7]:
type(emp)

dict

In [8]:
print(type(emp))

<class 'dict'>

In [9]:
len(emp)

4

In [10]:
len(emp1)

2

In [11]:
emp1[0]

['emp_Name', 'age', 'gender', 'Salary']

In [12]:
emp2 = ["Noman", 20, "Male", 30000]

In [13]:
emp

{'emp_Name': 'Noman', 'age': 20, 'gender': 'Male', 'salary': 30000}

In [14]:
emp2[0]

'Noman'

In [15]:
len(emp2)

4

In [16]:
emp

{'emp_Name': 'Noman', 'age': 20, 'gender': 'Male', 'salary': 30000}

In [17]:
emp['age']

20

Dictionary unorderd list hoti ha

In [18]:
emp[0] = "Muhammad Noman Aslam"

In [19]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 0: 'Muhammad Noman Aslam'}

In [20]:
emp2

['Noman', 20, 'Male', 30000]

In [21]:
emp2[0] = "Muhammad Noman Aslam"

In [22]:
emp2

['Muhammad Noman Aslam', 20, 'Male', 30000]

In [23]:
emp['emp_Name'] = "Noman"

In [24]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 0: 'Muhammad Noman Aslam'}

In [25]:
del emp[0]

In [26]:
emp

{'emp_Name': 'Noman', 'age': 20, 'gender': 'Male', 'salary': 30000}

In [27]:
emp["Job"] = ["Web Designer", "Web Developer"]

In [28]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer']}

In [29]:
emp['Job']

['Web Designer', 'Web Developer']

In [30]:
emp["subordinate"] = {"Web Designer": "Amjad", "Web Developer": "Hussain"}

In [31]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [32]:
#hum dictory se value bana skte

In [33]:
emp[(1,2)] = 7

In [34]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'},
 (1, 2): 7}

In [35]:
#List aur dictionary se key nh bn skti srf tuple se bn skti ha float se bn skti ha

In [36]:
del emp[(1,2)]

In [37]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [38]:
emp3 = {'emp_Name': 'Riaz',
 'age': 30,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}

In [39]:
emp3

{'emp_Name': 'Riaz',
 'age': 30,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}

In [40]:
emp4 = [emp]
emp4

[{'emp_Name': 'Noman',
  'age': 20,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}]

In [41]:
emp4.append(emp3)

In [42]:
emp4

[{'emp_Name': 'Noman',
  'age': 20,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}},
 {'emp_Name': 'Riaz',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}]

In [43]:
emp4[0]

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [44]:
emp4[1]

{'emp_Name': 'Riaz',
 'age': 30,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}

In [45]:
emp4[1]

{'emp_Name': 'Riaz',
 'age': 30,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}

In [46]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [47]:
emp4

[{'emp_Name': 'Noman',
  'age': 20,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}},
 {'emp_Name': 'Riaz',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}]

In [48]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [49]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [50]:
for j in emp:
    print(j)

emp_Name
age
gender
salary
Job
subordinate

In [51]:
for j in emp:
    print(j,emp[j])

emp_Name Noman
age 20
gender Male
salary 30000
Job ['Web Designer', 'Web Developer']
subordinate {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}

In [52]:
for key in emp:
    print(j,emp[key])

subordinate Noman
subordinate 20
subordinate Male
subordinate 30000
subordinate ['Web Designer', 'Web Developer']
subordinate {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}

In [53]:
for key in emp.keys():
    print(key)

emp_Name
age
gender
salary
Job
subordinate

In [54]:
for value in emp.values():
    print(value)

Noman
20
Male
30000
['Web Designer', 'Web Developer']
{'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}

In [55]:
for i in emp.items():
    print(i)

('emp_Name', 'Noman')
('age', 20)
('gender', 'Male')
('salary', 30000)
('Job', ['Web Designer', 'Web Developer'])
('subordinate', {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'})

In [56]:
for i,j in emp.items():
    print(i,j)

emp_Name Noman
age 20
gender Male
salary 30000
Job ['Web Designer', 'Web Developer']
subordinate {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}

In [57]:
a,b,c = 1,2,3

In [58]:
a

1

In [59]:
b

2

In [60]:
c

3

In [61]:
emp

{'emp_Name': 'Noman',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [62]:
emp4

[{'emp_Name': 'Noman',
  'age': 20,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}},
 {'emp_Name': 'Riaz',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}]

In [63]:
emp4[1]['subordinate']['Web Developer']

'Hassan'

In [64]:
emp4[0]['Job'].append("AI")

In [65]:
emp4

[{'emp_Name': 'Noman',
  'age': 20,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer', 'AI'],
  'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}},
 {'emp_Name': 'Riaz',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}]

In [66]:
emp4[0]['emp_Name'] = "Muhammad Noman Aslam Maken"

In [67]:
emp

{'emp_Name': 'Muhammad Noman Aslam Maken',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer', 'AI'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [68]:
emp

{'emp_Name': 'Muhammad Noman Aslam Maken',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer', 'AI'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [69]:
emp1

[['emp_Name', 'age', 'gender', 'Salary'], ['Noman', 20, 'Male', 30000]]

In [70]:
emp4

[{'emp_Name': 'Muhammad Noman Aslam Maken',
  'age': 20,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer', 'AI'],
  'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}},
 {'emp_Name': 'Riaz',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}]

In [71]:
emp

{'emp_Name': 'Muhammad Noman Aslam Maken',
 'age': 20,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer', 'AI'],
 'subordinate': {'Web Designer': 'Amjad', 'Web Developer': 'Hussain'}}

In [72]:
emp1

[['emp_Name', 'age', 'gender', 'Salary'], ['Noman', 20, 'Male', 30000]]

In [73]:
emp3

{'emp_Name': 'Riaz',
 'age': 30,
 'gender': 'Male',
 'salary': 30000,
 'Job': ['Web Designer', 'Web Developer'],
 'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}

In [74]:
emp2

['Muhammad Noman Aslam', 20, 'Male', 30000]

In [75]:
emp5 = [emp3]

In [76]:
emp5

[{'emp_Name': 'Riaz',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}}]

In [77]:
emp5.append({'emp_Name': 'Hammad',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Ahsan', 'Web Developer': 'Farhan'}})

In [78]:
emp5

[{'emp_Name': 'Riaz',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Raza', 'Web Developer': 'Hassan'}},
 {'emp_Name': 'Hammad',
  'age': 30,
  'gender': 'Male',
  'salary': 30000,
  'Job': ['Web Designer', 'Web Developer'],
  'subordinate': {'Web Designer': 'Ahsan', 'Web Developer': 'Farhan'}}]