# Python For Loops

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [2]:
list1 = [["Bags", 6], ["Books", 8], ["Laptops", 4]]
for item in list1:
    print(item)

['Bags', 6]
['Books', 8]
['Laptops', 4]

In [3]:
list1 = [["Bags", 6], ["Books", 8], ["Laptops", 4]]
for item, Quantity in list1:
    print(item,", Quantity is", Quantity)

Bags , Quantity is 6
Books , Quantity is 8
Laptops , Quantity is 4

In [4]:
list1 = [["Bags", 6], ["Books", 8], ["Laptops", 4]]
dict1 = dict(list1)

for item in dict1:
    print(item)

Bags
Books
Laptops

In [5]:
list1 = [["Bags", 6], ["Books", 8], ["Laptops", 4]]
dict1 = dict(list1)

for item, quantity in list1:
    print(item, quantity)

Bags 6
Books 8
Laptops 4

In [6]:
numbers1 = [int, float, "Books", "Bags", 56,56,4,3]
for value in numbers1:
    if str(value).isnumeric() and value>10:
        print(value)

56
56

In [7]:
num = input("Enter the Number: ")
total = 0
for i in num:
    total += int(i)
    print(total)

Enter the Number: 3456
3
7
12
18

In [8]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

# Looping Through a String

In [9]:
for x in "Noman":
    print(x)

N
o
m
a
n

In [10]:
name = "Noman"
for x in name:
    print(x)

N
o
m
a
n

In [11]:
variable_1 = [1,2,3,4,5]
for num in variable_1:
    for letter in 'abc':
        print(num, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

# The break Statement

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [13]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
         break
    print(x)

apple

In [14]:
num1 = [1,2,3,4,5]
for num in num1:
    if num == 3:
        print('Number found')
        break
    print(num)

1
2
Number found

# The continue Statement

In [15]:
num1 = [1,2,3,4,5]
for num in num1:
    if num == 3:
        print('Number found')
        continue
    print(num)

1
2
Number found
4
5

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

# The range() Function

In [17]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [18]:
for r in range(10):
    print(r)

0
1
2
3
4
5
6
7
8
9

In [19]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [20]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [21]:
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [22]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

# Else in For Loop

In [23]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [24]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [25]:
# program to display student's marks from record
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

In [26]:
# program to display student's marks from record
student_name = 'Jules'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

55

# Nested Loops

In [27]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# The pass Statement

In [28]:
for x in [0, 1, 2, 3]:
    pass

In [29]:
print(x)

3