In [1]:
print("Hello World")

Hello World

In [2]:
a = [1,2,3,4,5,6,7]
sum(a)

28

In [3]:
b = [34,34,32,23,43,54,54,54]
sum(b)

328

In [4]:
total = 0
for i in b:
    total += i

In [5]:
total

328

In [6]:
total = 3
for i in b:
    total += i

In [7]:
total

331

In [13]:
def prnt(any_value): # anything within a paranthesis while defining a function is called parrameter
    return any_value

In [14]:
type("Noman")

str

In [15]:
type(prnt)

function

In [17]:
prnt(4)

4

In [18]:
prnt("Noman")

'Noman'

In [19]:
def call_my_name():
    return "You are Noman"

In [20]:
call_my_name

In [21]:
call_my_name()

'You are Noman'

In [28]:
#anything within a paranthesis while defining a function is called parrameter
# Parrameter is optional
# Return is also optional
# when its call then its called argument

In [31]:
def add(any_Lst):
    total = 0
    for i in any_Lst:
        total += i
        return total

In [32]:
add(b)

34

In [36]:
c = add(a)

In [40]:
c

1

In [41]:
print(add(a))

1

In [42]:
len(a)

7

In [49]:
def length(lst):
    count = 0
    for i in length:
        count += i
    return count

In [55]:
add(a)

1

In [56]:
type(length)

function

In [72]:
def avg(Lst):
    average = add(Lst/100)
    return average

In [76]:
avg(1)

TypeError: 'float' object is not iterable

In [110]:
def addd(x,y):
    return "AI"

In [88]:
addd

In [91]:
addd(2,2)

'AI'

In [92]:
def addd(x,y):
    return x+y

In [93]:
addd("Noman", "Aslam")

'NomanAslam'

In [95]:
addd(454, 98) #Possitional Arguments

552

In [96]:
addd(y=7 , x=3) # Keyword Arguments

10

In [102]:
addd(y=" Aslam" , x="Noman") # Keyword Arguments

'Noman Aslam'

In [103]:
def sub(x,y):
    return x-y

In [104]:
sub(7,4)

3

In [105]:
sub(y=7 , x=3)

-4

In [106]:
def sub(x,y = 10):  # Default Argument
    return x-y

In [107]:
sub(4)

-6

In [109]:
sub(4,13)# Agr hum value dede to vo default value ko remove krke new value dega value overwrite hojae gii

-9

In [112]:
def sub(x):  
    
    return x-10

In [113]:
sub(3)

-7

In [114]:
def sub(x):  
    y =23
    return x-y

In [115]:
sub(88)

65

In [116]:
def multi(x,y):
    return x,y

In [117]:
multi(3,4)

(3, 4)

In [118]:
a,b = multi(3,4)

In [119]:
a

3

In [121]:
b

4

In [129]:
def sub(x,y = 10, *args):  #  Avoid Errors 
    return x-y

In [130]:
sub(44,3,43,3,53,3)

41

In [131]:
def addd(x,y = 10, *args): 
    total = x+y
    for i in args:
        total += i
    return total

In [132]:
addd(443,4,4,3,43,4,3,54)

558

In [151]:
def addd(x,y, *args): 
    total = x+y + add(args)
    return total

In [152]:
addd(3,4,4,43,3,33)

11

In [170]:
def additio(x,y,*args,**kwargs,): 
    total = x+y 
    for v in kwargs.values():
        total+=v
    return total

In [171]:
additio(x=3,y=3,z=4)

10

In [172]:
additio(3,4,4,43,3,33)

7

# Scope

## There are two types of Scope
### Global Scope
### Local Scope

In [174]:
a= 8                       #Global Variable
def num(x): 
    return x-a

In [176]:
num(18)

10

In [180]:
def num(x):                   #Local Variable
    abc= 8
    return x-abc

In [181]:
num(12)

4

In [182]:
print

In [186]:
print(a)

8

In [203]:
def num(x):
    global a
    a = 3
    return x-a

In [204]:
a

5

In [205]:
ef = num

In [206]:
ef(98)

95

In [216]:
a

3

In [217]:
for i in range(5,11):
    print(f"{i} * 1 = {i *1}",end="\t")

5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	10 * 1 = 10

In [229]:
for i in range (1,11):
    for j in range(5,9):
        print(f"{i} * {j} = {i * j}",end="\t")
    print()

1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8
2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16
3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24
4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32
5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40
6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48
7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56
8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64
9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72
10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80

In [231]:
start = input("Start:")
end = input("End:")
for i in range (int(start),int(end)):
    for j in range(5,9):
        print(f"{i} * {j} = {i * j}",end="\t")
    print()

Start:34
End:23