In [ ]:
studentData = ["Raza", 14, "AI"]

In [2]:
for item in studentData:
    print(item)

Raza
14
AI

In [3]:
studentData1= [["Ali", 14 ,"AI"],
              ["Nasir", 34, "AIC"],
              ["Ali", 34, "AIC"]]

In [4]:
for listItem in studentData1:
    for value in listItem:
        
        print(value)

Ali
14
AI
Nasir
34
AIC
Ali
34
AIC

In [5]:
for listItem in studentData1:
    print("-" * 100)
    for value in listItem:
        
        print(value)

----------------------------------------------------------------------------------------------------
Ali
14
AI
----------------------------------------------------------------------------------------------------
Nasir
34
AIC
----------------------------------------------------------------------------------------------------
Ali
34
AIC

In [6]:
for listItem in studentData1:
    print("-" * 100)
    for value in reversed(listItem):
        
        print(value)

----------------------------------------------------------------------------------------------------
AI
14
Ali
----------------------------------------------------------------------------------------------------
AIC
34
Nasir
----------------------------------------------------------------------------------------------------
AIC
34
Ali

In [7]:
studentData2= [studentData1,
              ["Nasir", 34, "AIC"],
              ["Ali", 34, "AIC"]]

In [8]:
studentData2

[[['Ali', 14, 'AI'], ['Nasir', 34, 'AIC'], ['Ali', 34, 'AIC']],
 ['Nasir', 34, 'AIC'],
 ['Ali', 34, 'AIC']]

In [9]:
for listItem in studentData2:
    print("-" * 100)
    for value in reversed(listItem):
        
        print(value)

----------------------------------------------------------------------------------------------------
['Ali', 34, 'AIC']
['Nasir', 34, 'AIC']
['Ali', 14, 'AI']
----------------------------------------------------------------------------------------------------
AIC
34
Nasir
----------------------------------------------------------------------------------------------------
AIC
34
Ali

In [10]:
for listItem in studentData2:
    print("_" * 100)
    for value in reversed(listItem):
        
        print(value)

____________________________________________________________________________________________________
['Ali', 34, 'AIC']
['Nasir', 34, 'AIC']
['Ali', 14, 'AI']
____________________________________________________________________________________________________
AIC
34
Nasir
____________________________________________________________________________________________________
AIC
34
Ali

In [11]:
range(9)

range(0, 9)

In [12]:
for num in range(9):
 print(num)

0
1
2
3
4
5
6
7
8

In [13]:
for A in range(3, 27):
    print(A)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [14]:
list(range(2, 98))

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97]

In [15]:
list(range(1, 12 , 3))

[1, 4, 7, 10]

In [16]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
numbers = list(range(1,21))

In [18]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
numbers.reverse()

In [20]:
numbers

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
number = [numbers]

In [22]:
type(number)

list

In [23]:
num1 = (20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [24]:
type(num1)

tuple

In [25]:
num2 = 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1 # if you write 1,2 like this 
#its type is tuple

In [26]:
type(num2)

tuple

In [27]:
data = ("Noman", 20 , "AI")

In [28]:
data

('Noman', 20, 'AI')

In [29]:
data[0]

'Noman'

In [30]:
#data[0] = "Ali" 'tuple' object does not support item assignment

In [31]:
type(data)

tuple

In [32]:
data = ("Noman", [20, 21] , "AI")

In [33]:
data

('Noman', [20, 21], 'AI')

In [34]:
data[1].append(22)

In [35]:
data

('Noman', [20, 21, 22], 'AI')

In [36]:
input()

3

'3'

In [37]:
marks = input()

2

In [38]:
marks

'2'

In [39]:
marks = input("Enter your marks: ")

Enter your marks: 22

In [40]:
marks

'22'

In [41]:
hobbies = input("Enter your hobbies: Separate by comma: ")

Enter your hobbies: Separate by comma: jjnd, jj ,jj

In [42]:
type(hobbies)

str

In [43]:
hobbies = hobbies.split(",")

In [44]:
hobbies

['jjnd', ' jj ', 'jj ']

In [45]:
B = int(input("How many values you want to enter? "))
for i in range(B):
    name = input("Enter your Name:")
    email = input("Enter your Email:")
    hobbies = input("Enter your Hobbies:")
    hobbies = hobbies.split(",")

How many values you want to enter? 2
Enter your Name:Noman
Enter your Email:mm
Enter your Hobbies:aa
Enter your Name:Noman
Enter your Email:nnn
Enter your Hobbies:aa

In [46]:
B

2

In [48]:
Dataset = []
B = int(input("How many values you want to enter? "))
for i in range(B):
    name = input("Enter your Name:")
    email = input("Enter your Email:")
    hobbies = input("Enter your Hobbies:")
    hobbies = hobbies.split(",")

How many values you want to enter? 3
Enter your Name:3
Enter your Email:3
Enter your Hobbies:3
Enter your Name:3
Enter your Email:3
Enter your Hobbies:3
Enter your Name:3
Enter your Email:3
Enter your Hobbies:33

Dataset

In [49]:
Dataset

[]

In [50]:
age = input("Enter your age: ")

Enter your age: dasckideix

In [54]:
age = int(input("Enter your age: "))

Enter your age: 20