In [1]:
emp1_name = "Asad"
emp1_age = 45
emp1_gender = "Male"
emp1 = [emp1_name, emp1_age, emp1_gender]

In [2]:
emp1

['Asad', 45, 'Male']

In [3]:
type(emp1)

list

list hetereogeneous and ordered

# There is two types of indexing
1. Positive indexing. Its start 0 from left to right
2. Negative indexing. Its start frm -1 from right to left

In [4]:
emp2 = [] # agr [] hoto vo list hogi

In [5]:
type(emp2) #example

list

In [6]:
emp2= [] #append data store krvane ke lie use hota ha
emp2.append("Raza")
emp2.append(33)
emp2.append("Male")

In [7]:
emp2

['Raza', 33, 'Male']

In [8]:
emp2[2]

'Male'

In [9]:
emp1

['Asad', 45, 'Male']

In [10]:
emp1[-2]

45

In [11]:
emp3= []

In [12]:
emp3

[]

In [13]:
emp3.append("Ali")
emp3.append(34)
emp3.append("Male")

In [14]:
emp3

['Ali', 34, 'Male']

In [15]:
emp2[-3], emp1[-3], emp3[-2]

('Raza', 'Asad', 34)

In [16]:
emp3.append("AI") # append last me add krta hai ek new list bana deta ha

In [17]:
emp3

['Ali', 34, 'Male', 'AI']

In [18]:
emp2.insert(2, "AIC") #jaha peh kch add krna ho kisi list ke bd js ki value de usi ke bd vo add hoga jesa keh
                            # emp2.insert(2, "AIC") isme variable 2 me save huva

In [19]:
emp2

['Raza', 33, 'AIC', 'Male']

In [20]:
emp2[2] = "AI" # is trha kisi bh value ko update kia jaskta ha

In [21]:
emp2

['Raza', 33, 'AI', 'Male']

### JESE YAHA PEH UPDATE HUVA AIC SE AI

In [22]:
#check krne ke lie 2 peh knsi value ha 3 peh knsi value ha
emp2[2]

'AI'

In [23]:
#how to remove date in the list ===> iske lie del ko use kre ge


#Element ki location find krne ke lie


emp2.index("Male")

3

In [24]:
#ktne elements ha isko len() se check krte ha

len(emp2)

4

In [25]:
#emp2.remove("Male") remove krvane ke lie jese Male ko

#del emp2[] del me element ka number call krke remove hota ha

In [26]:
emp2.remove("Male")

In [27]:
emp2 #Male vla element remove hogaya hoga

['Raza', 33, 'AI']

In [28]:
del emp2[1] #[1] peh 33 ha vo remove hojae ga

In [29]:
emp2

['Raza', 'AI']

In [30]:
emp4 = []
emp4.append("Yasir Shah")
emp4.append(23)
emp4.append("Male")

In [31]:
emp4

['Yasir Shah', 23, 'Male']

In [32]:
emp = [emp3, emp4, ["Nasir", 29, "Male"], ["Farhan", 18, "Male"]] #ese list bnti hai sb ki agr pehle vo add nh ha to usko ,[] ese add krlia jae

In [33]:
emp

[['Ali', 34, 'Male', 'AI'],
 ['Yasir Shah', 23, 'Male'],
 ['Nasir', 29, 'Male'],
 ['Farhan', 18, 'Male']]

In [34]:
print(emp)

[['Ali', 34, 'Male', 'AI'], ['Yasir Shah', 23, 'Male'], ['Nasir', 29, 'Male'], ['Farhan', 18, 'Male']]

In [35]:
#print meh horizontly show hota ha

In [36]:
len(emp)

4

In [37]:
emp[0][1]+emp[1][1]+emp[2][1]+emp[-1][1]

104

In [38]:
print(emp[0][1], emp[1][1], emp[2][1], emp[-1][1])

34 23 29 18

In [39]:
emp

[['Ali', 34, 'Male', 'AI'],
 ['Yasir Shah', 23, 'Male'],
 ['Nasir', 29, 'Male'],
 ['Farhan', 18, 'Male']]

In [40]:
#agr repetative koi kam krna hoto uske lie for loops ko use kre

## For loops

In [41]:
age = 0
for A in emp: 
   age += A[1] # [1] element ka number hai jo pori list me add krlega hum ne age nikalni ha sb ki to age name dedia pehle age=0

In [42]:
age

104

In [43]:
for I in emp:
    print(I[0])

Ali
Yasir Shah
Nasir
Farhan

In [44]:
# agr pori list me sb ke name fetch krvane ha to uska element ka number call kre

In [45]:
emp

[['Ali', 34, 'Male', 'AI'],
 ['Yasir Shah', 23, 'Male'],
 ['Nasir', 29, 'Male'],
 ['Farhan', 18, 'Male']]

In [46]:
#yaha name [0] me ha

In [47]:
emp1

['Asad', 45, 'Male']

In [48]:
emp1.append("AI Engineer")

In [49]:
emp1

['Asad', 45, 'Male', 'AI Engineer']

# slicing
slicing vo hota ha jaha break na aae jese Asad, 31 opr vle result me ha. Agr Asad aur male hoto vo nh hoge

In [50]:
emp1.append(30000)

In [51]:
emp1

['Asad', 45, 'Male', 'AI Engineer', 30000]

In [52]:
emp1[1:4]

[45, 'Male', 'AI Engineer']

In [53]:
emp1[-2:5]

['AI Engineer', 30000]

In [54]:
emp1[-2:50000]

['AI Engineer', 30000]

In [55]:
emp1[-2222222:5]

['Asad', 45, 'Male', 'AI Engineer', 30000]

In [56]:
emp1[-2:-1]

['AI Engineer']

In [57]:
emp1[-2]

'AI Engineer'

In [58]:
emp1[:]

['Asad', 45, 'Male', 'AI Engineer', 30000]

In [59]:
emp1[:1]

['Asad']

In [60]:
emp1[0:]

['Asad', 45, 'Male', 'AI Engineer', 30000]

In [61]:
emp1[1:]

[45, 'Male', 'AI Engineer', 30000]

In [62]:
# - ki value right to left jae gi jese 30000 opr vle result me -1 ha

In [63]:
emp1[1:4:2] #jump kre ga u agr 2 dale ge to pehla aur teesra aae ga hr dosre ko vo chor de ga

[45, 'AI Engineer']

In [64]:
emp1[1:4:1]

[45, 'Male', 'AI Engineer']

In [65]:
emp1[1:4:3]

[45]