|Name||Class|City|Batch|
|----||-----|----|-----|
|Noman|AI|Sargodha|Batch4|
|Noman|AI|Sargodha|Batch24|
|Urwa|AI|Sargodha|Batch24|

In [8]:
import pandas as pd
from pandas import DataFrame

In [10]:
print ('Pandas Version: ' + pd.__version__)

Pandas Version: 1.0.1

In [11]:
d = [0,1,2,3,4,5]
d

[0, 1, 2, 3, 4, 5]

In [15]:
df = DataFrame(data=d)
df

   0
0  0
1  1
2  2
3  3
4  4
5  5

In [14]:
df = DataFrame(data=d, columns= ['Revenue'])
df

   Revenue
0        0
1        1
2        2
3        3
4        4
5        5

In [26]:
df = DataFrame(('Revenue':[5,6,7],'Revenue':[5,6,7]))
df

SyntaxError: invalid syntax (<ipython-input-26-c070a9f31969>, line 1)

In [ ]:
Dear Customer, your complaint has been lodged complaint ID is 1- 342960356754, and Issue will get resolved within 48 hours.