In [6]:
2+3

5

In [7]:
A = 2+3/2-(34-2) #Assignment operator

In [8]:
A

-28.5

In [9]:
A+A

-57.0

In [10]:
#vairiable is used for to store values

In [11]:
A-(A+A)/A*A

28.5

In [12]:
A=A-A

In [13]:
A

0.0

In [14]:
A= A+5

In [15]:
A

5.0

In [16]:
A= A*A*A*A*A*A*A*A/5*(A-6)

In [17]:
A

-78125.0

In [18]:
A**A

-0.0

In [19]:
A= A+90899099

In [20]:
A

90820974.0

In [21]:
A+A

181641948.0

In [22]:
A

90820974.0

In [23]:
B = 85985-33*3

In [24]:
B

85886

In [25]:
C= A*B

In [26]:
C

7800250172964.0

In [27]:
Maths= 80
Chem= 87
Result= Maths+Chem

In [28]:
Result

167

In [29]:
D= Result + A + B + C

In [30]:
D

7800341079991.0

In [31]:
E = D*A

In [32]:
E

7.084345744169945e+20

In [33]:
Z= E/A

In [34]:
Z

7800341079991.0

In [35]:
Z*3

23401023239973.0

# Legal Variable

* Letter, Underscore, Number
* Variable won't start from a number

# if we write

* Agr variable me space hogi, number se start hoga to error aae ga

In [36]:
MyName = "Noman"

In [37]:
Class_Name = "AI"

In [38]:
Result = MyName, Class_Name

In [39]:
Result

('Noman', 'AI')

In [40]:
msg = """Hellow {}.
Your Application is accepted for {}""".format(MyName, Class_Name)
print(msg)

Hellow Noman.
Your Application is accepted for AI

In [41]:
Message = """Hello {a}
Your are a student of {b}""" .format(a=MyName, b=Class_Name)
print(Message)

Hello Noman
Your are a student of AI

In [42]:
print(type(Message))

<class 'str'>

In [43]:
type(Message)

str

In [44]:
decimal = 3874.0
type(decimal)

float

In [45]:
l = 0.3874
type(l)

float

In [46]:
check = -3874
type(check)

int

In [47]:
check1 = -3874*33/3
type(check1)

float

In [48]:
#class = 
#type(class)
                                      #its show error because no value assign to variable

In [49]:
check1

-42614.0

In [50]:
check1 + 4300000

4257386.0

In [51]:
check1

-42614.0

In [52]:
check1= A+32-check1

In [53]:
check1

90863620.0

In [54]:
A += 2

In [55]:
A

90820976.0

In [56]:
B

85886

In [57]:
B= B-85885

In [58]:
B

1

In [59]:
B += 2 #its equal to B = B + 2

In [60]:
B

3

In [61]:
B -= 5

In [62]:
B

-2

In [63]:
B /= 5

In [64]:
B

-0.4

In [65]:
B **= 4

In [66]:
B

0.025600000000000005

In [67]:
2/2 #correct answer is 1.0 and answer in float

1.0

In [68]:
Message + msg

'Hello Noman\nYour are a student of AIHellow Noman.\nYour Application is accepted for AI'

In [69]:
Name = "Muhamamd Noman Aslam"

In [70]:
Name + " " + "Maken"

'Muhamamd Noman Aslam Maken'

In [71]:
Name + " " + str(3) # " " its used for making space and str() is used for making string

'Muhamamd Noman Aslam 3'

In [72]:
Name

'Muhamamd Noman Aslam'

In [73]:
Name = "Muhammad Noman Aslam"

In [74]:
Name

'Muhammad Noman Aslam'

In [75]:
34567890987654567890/1

3.4567890987654566e+19

In [76]:
hy = "Hello Mr"

In [77]:
hy

'Hello Mr'

In [78]:
1/0.1*2
                     #if divided by 0 then its show error

20.0

In [92]:
Name

'Muhammad Noman Aslam'

In [93]:
A1 = 3

In [94]:
A2 = 3

In [95]:
A3 = A1- A2

In [96]:
A3

0

In [97]:
A1/A2

1.0

In [98]:
A3*A1

0

In [99]:
str(float(A1))

'3.0'

In [100]:
Name

'Muhammad Noman Aslam'

In [89]:
Result

('Noman', 'AI')

In [110]:
Check4 = 6 // 4
Check4         
#jo bhi result hoga vo . me nh blke integers me hi rahe ga agr 6/4 hoga to 1 aae ga baki value ko ignore kre ga

1

In [112]:
Check4 = 9 // 4
Check4

2

In [113]:
6 % 2

0

In [114]:
100 % 2

0

In [116]:
2 % 2 + 2

2

In [127]:
5 ** 2 % 10 #Percentage

5

In [128]:
8/10 % 15

0.8