In [1]:
2+3

5

In [31]:
A = 2+3/2-(34-2) #Assignment operator

In [32]:
A

-28.5

In [33]:
A+A

-57.0

In [34]:
#vairiable is used for to store values

In [35]:
A-(A+A)/A*A

28.5

In [36]:
A=A-A

In [37]:
A

0.0

In [38]:
A= A+5

In [39]:
A

5.0

In [40]:
A= A*A*A*A*A*A*A*A/5*(A-6)

In [41]:
A

-78125.0

In [42]:
A**A

-0.0

In [43]:
A= A+90899099

In [44]:
A

90820974.0

In [45]:
A+A

181641948.0

In [46]:
A

90820974.0

In [47]:
B = 85985-33*3

In [48]:
B

85886

In [49]:
C= A*B

In [50]:
C

7800250172964.0

In [52]:
Maths= 80
Chem= 87
Result= Maths+Chem

In [53]:
Result

167

In [54]:
D= Result + A + B + C

In [55]:
D

7800341079991.0

In [56]:
E = D*A

In [57]:
E

7.084345744169945e+20

In [58]:
Z= E/A

In [59]:
Z

7800341079991.0

In [60]:
Z*3

23401023239973.0

# Legal Variable

* Letter, Underscore, Number
* Variable won't start from a number

# if we write

* Agr variable me space hogi, number se start hoga to error aae ga

In [98]:
MyName = "Noman"

In [99]:
Class_Name = "AI"

In [100]:
Result = MyName, Class_Name

In [101]:
Result

('Noman', 'AI')

In [102]:
msg = """Hellow {}.
Your Application is accepted for {}""".format(MyName, Class_Name)
print(msg)

Hellow Noman.
Your Application is accepted for AI

In [103]:
Message = """Hello {a}
Your are a student of {b}""" .format(a=MyName, b=Class_Name)
print(Message)

Hello Noman
Your are a student of AI

In [104]:
print(type(Message))

<class 'str'>

In [105]:
type(Message)

str

In [106]:
decimal = 3874.0
type(decimal)

float

In [107]:
l = 0.3874
type(l)

float

In [108]:
check = -3874
type(check)

int

In [109]:
check1 = -3874*33/3
type(check1)

float

In [110]:
#class = 
#type(class)
                                      #its show error because no value assign to variable

In [111]:
check1

-42614.0

In [112]:
check1 + 4300000

4257386.0

In [158]:
check1

2347554.0

In [159]:
check1= A+32-check1

In [176]:
check1

88473452.0

In [177]:
A += 2

In [178]:
A

90820976.0

In [179]:
B

85886

In [180]:
B= B-85885

In [197]:
B

21

In [198]:
B += 2 #its equal to B = B + 2

In [201]:
B

23

In [202]:
B -= 5

In [203]:
B

18

In [204]:
B /= 5

In [205]:
B

3.6

In [206]:
B **= 4

In [207]:
B

167.9616

In [210]:
2/2 #correct answer is 1.0 and answer in float

1.0

In [215]:
Message + msg

'Hello Noman\nYour are a student of AIHellow Noman.\nYour Application is accepted for AI'

In [220]:
Name = "Muhamamd Noman Aslam"

In [224]:
Name + " " + "Maken"

'Muhamamd Noman Aslam Maken'

In [230]:
Name + " " + str(3) # " " its used for making space and str() is used for making string

'Muhamamd Noman Aslam 3'

In [275]:
Name

'Muhammad Noman Aslam'

In [276]:
Name = "Muhammad Noman Aslam"

In [277]:
Name

'Muhammad Noman Aslam'

In [278]:
34567890987654567890/1

3.4567890987654566e+19

In [279]:
hy = "Hello Mr"

In [280]:
hy

'Hello Mr'

In [281]:
1/0.1*2
                     #if divided by 0 then its show error

20.0

In [282]:
result2

('Noman', 'AI')

In [283]:
A1 = 3

In [284]:
A2 = 3

In [285]:
A3 = A1- A2

In [286]:
A3

0

In [287]:
A1/A2

1.0

In [288]:
A3*A1

0

In [289]:
str(float(A1))

'3.0'

In [291]:
str(A1)

'3'